/* ALL PAGES */
/* Minus 0.02 to the max-width/desktop breakpoints is based on: 
https://getbootstrap.com/docs/5.0/layout/breakpoints/
*/
/* Mixin for min-width breakpoints */
/* Mixin for max-width breakpoints */
/* Mixin for min-width and max-width breakpoints */
/* Mixin for adding style not in firefox browser */
/* Mixin for adding style in firefox browser */
/* Mixin for font-face */
/* Mixin for overlay */
/* Mixin for ellipsis with line clamp */
/* Container */
/* Breakpoints */
/* Font - Familys */
/* Font - Usages */
/* Colors */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin and padding and outline */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  outline: none;
  outline-width: 0;
  outline-style: none;
  outline-color: transparent;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Make buttons and links have pointer cursor */
a, button {
  cursor: pointer;
}

/* Remove default text decoration on links */
a {
  text-decoration: none;
  color: inherit;
}

/* Make sure tables have borders by default */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove mouse interactions for svg */
svg {
  pointer-events: none;
  vertical-align: middle;
}

/* Remove the resize handle on textareas */
textarea {
  resize: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CUSTOM: Add default body background color */
html, body {
  height: 100%;
  margin: 0;
}

/* CUSTOM: Add scroll margin top */
* {
  scroll-margin-top: 0;
}

/* BASE */
/* Default font styles for the body */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}

/* Default font styles for the headings */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.font-heading {
  font-family: "Work Sans", sans-serif;
  line-height: 1.2;
}

@media (max-width: 499.98px) {
  h1, .h1 {
    font-size: 2rem;
  }
}
@media (min-width: 500px) {
  h1, .h1 {
    font-size: 3.4375rem;
  }
}
/* Hide element */
.hide {
  display: none;
}

/* Hide elements visually but keep them accessible to screen readers */
.sr-hide-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Text alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* COMPONENTS */
/* Accordion wrapper */
.accordions .accordion:not(:first-of-type) {
  border-top: 1px solid rgba(139.6108, 104.958, 144.942, 0.2);
}

@media (min-width: 500px) {
  .accordion {
    padding: 27px 0;
  }
}
@media (max-width: 499.98px) {
  .accordion {
    padding: 25px 0;
  }
}

.accordion .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 2px dashed transparent;
  cursor: pointer;
  -webkit-transition: outline 0.4s ease;
  transition: outline 0.4s ease;
}
.accordion .title span {
  text-align: left;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
  padding-right: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.accordion .title svg {
  min-width: 30px;
}
.accordion .title .close {
  position: absolute;
  right: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.accordion .title:hover span, .accordion .title:focus span {
  color: rgba(46.6956, 20.706, 50.694, 0.8);
}
.accordion .title:focus-visible {
  outline-color: hsl(292, 16%, 49%);
}

.accordion .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0fr;
  grid-template-rows: 0fr;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.accordion .content > .inner {
  padding-top: 20px;
  overflow: hidden;
}
.accordion .content > .inner > * {
  color: hsl(292, 16%, 49%);
}
.accordion .content > .inner > *:not(:first-of-type) {
  margin-top: 15px;
}
@supports not (-moz-appearance: none) {
  .accordion .content {
    margin-bottom: -20px;
  }
}

.accordion.active .title .close {
  z-index: 1;
  opacity: 1;
}

.accordion.active .content {
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 0;
}

/* LAYOUT */
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  background-color: hsl(275, 100%, 97%);
}

.banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 500px) {
  .banner, .banner img {
    height: 300px;
    max-height: 300px;
  }
}

main {
  position: relative;
  z-index: 1;
}
@media (min-width: 500px) {
  main {
    padding-bottom: 130px;
    margin-top: -150px;
  }
}
@media (max-width: 499.98px) {
  main {
    padding-bottom: 50px;
    margin-top: -95px;
  }
}

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 24px -4px rgba(53, 26, 75, 0.5);
          box-shadow: 0px 3px 24px -4px rgba(53, 26, 75, 0.5);
}
@media (min-width: 768px) {
  .container {
    padding: 42px 40px 20px;
    width: 100%;
    max-width: 570px;
  }
}
@media (min-width: 500px) and (max-width: 767.98px) {
  .container {
    padding: 30px 25px 25px;
    max-width: 450px;
  }
}
@media (max-width: 499.98px) {
  .container {
    padding: 30px 25px 25px;
    width: calc(100% - 50px);
  }
}

.container > .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container > .heading .icon {
  margin-right: 20px;
}
.container > .heading .title {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
}
@media (max-width: 499.98px) {
  .container > .heading .icon {
    width: 30px;
    height: 31px;
  }
}

.attribution {
  width: 100%;
  padding: 10px 0;
  line-height: 1.2;
}
.attribution, .attribution a {
  color: hsl(292, 42%, 14%);
}
.attribution a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.attribution a:hover {
  color: hsl(292, 16%, 49%);
}